@import 'fonts';
@import 'remodal';
@import 'remodal-default-theme';
* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter',sans-serif;
    color: #333333;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1420px;
    padding: 0px 15px;
    margin: 0 auto;
}
input {
    &:hover, &:focus, &:active {
        outline: none;
    }
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
main {
    padding-top: 117px;
}
.header {
    padding: 20px 0px 12px 0px;
    transition: all 0.3s;
    position: absolute;
    top: 0px;
    width: 100%;
    &.sticky {
        position: fixed !important;
        top: 0px;
        width: 100%;
        height: auto;
        background: #fff;
        z-index: 9;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
        padding: 12px 0px 12px 0px;
        .header__topbar {
            display: none;
        }
        .logo {
            width: 55px;
        }
    }
}
input[type=number] {
    -moz-appearance: textfield;
}
.header__content, .header__topbar {
    display: flex;
    justify-content: space-between;
}
.header__content {
    align-items: flex-end;
}
.header__topbar {
    margin-bottom: 12px;
    .header__locate {
        font-weight: 500;
        background: url('../img/iconsprite/MapPin.svg') no-repeat left center;
        padding-left: 20px;
        color: #333333;
        text-decoration: none;
    }
    .header__topbar__row {
        a {
            font-weight: 500;
            color: #333333;
            text-decoration: none;
        }
    }
}
.header__topbar__row {
    margin-left: 8px;
    span {
        font-weight: 400;
        font-size: 12px;
        color: #999999;
    }
    .header__callback {
        margin-left: 8px;
        padding-left: 20px;
        background: url('../img/iconsprite/phone.svg') no-repeat left center;
    }
}
.header__topbar__col {
    display: flex;
}
.header__right {
    width: calc(100% - 92px);
}
.header__main {
    width: 100%;
    > * {
        display: table-cell;
    }
}
.header__basket-login {
    white-space: nowrap;
    vertical-align: middle;
}
.header__search {
    display: table-cell;
    width: 100%;
    position: relative;
    form {
        max-width: calc(100% - 44px);
        margin-left: 12px;
    }
    input {
        width: 100%;
        height: 56px;
        background: #F2F2F2;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        padding-left: 54px;
    }
    button {
        position: absolute;
        opacity: 0;
    }
    .header__serch-icon {
        background: url('../img/iconsprite/seach.svg') no-repeat left center;
        position: absolute;
        left: 28px;
        top: 17px;
        width: 24px;
        height: 24px;
    }
}
.header__search__clean {
    background: url('../img/iconsprite/clear.svg') no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 47px;
    top: 19px;
    cursor: pointer;
    display: none;
}
.header__search__result {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    width: calc(100% - 43px);
    top: 105%;
    left: 12px;
    z-index: 1;
    .header__search__result__row {
        color: #333333;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        span {
            font-weight: 700;
        }
        &::before {
            content: '';
            background: url(../img/iconsprite/seach.svg) no-repeat left center;
            opacity: 0.4;
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
       
    }
    .header__search__result__category {
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid #E0E0E0;
    }
    .header__search__result__category__row {
        margin-bottom: 16px;
        a.header__search__result__category__title {
            font-weight: 600;
            font-size: 16px;
            color: #333333;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .header__search__result__category__links {
            display: flex;
            align-items: center;
            margin-top: 5px;
            a {
                font-size: 12px;
                color: #4F4F4F;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    content: "";
                    background: url(../img/iconsprite/arr-right.svg) no-repeat left center;
                    margin: 0px 6px;
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                }
            }
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
}
.header__basket, .header__login {
    display: table-cell;
    height: 24px;
    vertical-align: middle;
}

.header__catalog-btn {
    background: linear-gradient(90deg, #045191 0%, #008DD2 100%);
    border-radius: 4px;
    min-width: 140px;
    color: #fff;
    height: 56px;
    font-weight: 600;
    font-size: 16px;
    padding: 17px 23px 17px 51px;
    text-decoration: none;
    position: relative;
    display: block;
    &:hover {
        background: #045191;
    }
    span {
        position: absolute;
        left: 22px;
        top: 50%;
        margin-top: -2px;
        width: 18px;
        height: 4px;
        border-radius: 1.5px;
        background: #fff;
        &::after, &::before {
            content: '';
            width: 18px;
            height: 4px;
            border-radius: 1.5px;
            background: #fff;
            position: relative;
            display: block;
        }
        &::after {
            top: -12px;
        }
        &::before {
            bottom: -8px;
            width: 12px;
        }
    }
}

.header__catalog-container {
    position: relative;
}

.header__catalog-lvl1, .header__catalog-lvl2, .header__catalog-lvl3, .header__catalog-lvl4 {
    padding: 12px 0px;
    background: #fff;
    z-index: 2;
    left: 100%;
    position: absolute;
    top: 0%;
    box-shadow: 5px 10px 15px(rgba(0, 0, 0, 0.15));
    width: 250px;
    opacity: 0; 
    visibility: hidden;
    transition-property: opacity, visibility; 
    transition-duration: 0.2s; 
    transition-delay: 0.15s; 
    a {
        color: #333333;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        svg {
            width: 16px;
            height: 16px;
            stroke: #4F4F4F;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
        }
        &:hover {
            color: #008DD2;
            svg {
                stroke: #008DD2;
            }
        }
        
    }
}
.header__catalog-lvl1 {
    left: 0px;
    top: 100%;
}

.header__catalog-container:hover {
    .header__catalog-lvl1 {
        opacity: 1; 
        visibility: visible;
    }
}
.submenu {
    margin: 0px;
    li {
        display: block;
    }
}
li:hover > .submenu {
    opacity: 1; 
    visibility: visible;
}
.header__basket {
    color: #333333;
    font-weight: 500;
    padding-left: 30px;
    background: url('../img/iconsprite/basket.svg') no-repeat left center;
    min-height: 24px;
    padding-right: 14px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    &-num {
        background: #E31E24;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        font-weight: 700;
        font-size: 10px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        left: 15px;
        top: -5px;
    }
}

.header__login {
    padding-left: 30px;
    background: url('../img/iconsprite/enter.svg') no-repeat left center;
    min-height: 24px;
    a {
        text-decoration: none;
        color: #999999;
        &:hover {
            text-decoration: underline;
        }
    }
    a.header__enter {
        color: #333333;
        font-weight: 500;
    }
}

.header__user {
    display: table-cell;
    padding-left: 30px;
    background: url('../img/iconsprite/user.svg') no-repeat left center;
    min-height: 24px;
    position: relative;
    a {
        color: #333333;
        text-decoration: none;
        font-weight: 500;
    }
    &:hover {
        .header__user__nav {
            opacity: 1; 
            visibility: visible;
        }
    }
    .header__user__nav {
        position: absolute;
        top: 100%;
        right: 0px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        padding: 12px;
        opacity: 0; 
        visibility: hidden;
        transition-property: opacity, visibility; 
        transition-duration: 0.2s; 
        transition-delay: 0.15s; 
        a {
            display: block;
            margin-bottom: 24px;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
            span {
                color: red;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

// navigate

.main-nav {
    background: linear-gradient(90deg, #045191 0%, #008DD2 100%);
    a {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        padding: 14px 0px 11px 0px;
        display: block;
        text-decoration: none;
        margin-right: 32px;
        border-bottom: 3px solid transparent;
        &:hover {
            border-bottom: 3px solid;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
    .main-nav__content {
        display: flex;
        align-items: center;
    }
}

// 

.content {
    margin: 24px 0px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
    a {
        font-size: 14px;
        text-decoration: none;
        color: #4F4F4F;
        display: flex;
        align-items: center;
        &:hover {
            text-decoration: underline;
        }
        &::after {
            content: '';
            background: url('../img/iconsprite/arr-right.svg') no-repeat left center;
            margin: 0px 6px;
            width: 16px;
            height: 16px;
            display: inline-block;
        }
    }
    span {
        color: #999999;
    }
}

// 

.title-page {
    display: flex;
    align-items: baseline;
    margin: 16px 0px 24px 0px;
    h1 {
        font-weight: 600;
        font-size: 28px;
        margin: 0px;
    }
    &__count-items {
        margin-left: 12px;
    }
}

// catalog

.catalog {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

// catalog sidebar 

.sidebar-catalog {
    width: 220px;
    a {
        font-weight: 500;
        color: #333333;
        text-decoration: none;
        padding: 12px;
        display: block;
        margin-left: 25px;
        &.active {
            color: #008DD2;
        }
        &:hover {
            background: #F2F2F2;
            border-radius: 4px;
        }
    }
    .catalog-parent-item {
        font-weight: 500;
        color: #333333;
        padding: 12px;
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
            width: 16px;
            height: 16px;
            stroke: #4F4F4F;
            transition: all 0.2s;
            margin-left: 15px;
        }
    }
    .catalog-lvl-2 {
        display: none;
    }
}

.catalog__content {
    width: calc(100% - 244px);

}

.catalog-lvl-1.opened {
    .catalog-parent-item {
        color: #008DD2;
        .icon {
            transform: rotate(90deg);
            stroke: #008DD2;
        }
    }
}

// custom select

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    min-width: 60px;
    margin-right: 8px;
  }
  .select-styled {
    padding: 12px 36px 12px 14px;
    white-space: nowrap;
    
    &:after {
      content:"";
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #333333 transparent transparent transparent;
      position: absolute;
      top: 18px;
      right: 15px;
    }
  }
  
  .select-options {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background: #fff;
    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      &:hover, 
      &.is-selected {
        background: #F2F2F2;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }

  .select.delivery-filter {
      width: 190px;
  }

  // catalog filter

  .filter-brand {
      position: relative;
      margin-right: 8px;
  }

  .brands-filter__list {
    position: absolute;
    left: 0px;
    top: calc(100% - 1px);
    background: #fff;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .custom-checkbox {
        width: 100%;
    }
}

  .filter-catalog {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .filter-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-col.filter-results-list {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 12px;
      .filter-result {
        background: #F2F2F2;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 8px 8px 8px 12px;  
        margin-right: 8px;
        &:last-child {
            margin-right: 0px;
        }    
        .filter-result-delete {
            background: url(../img/iconsprite/clear.svg) no-repeat;
            width: 20px;
            height: 20px;
            margin-left: 5px;
        }  
      }
  }

  .filter-refresh {
    width: 40px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background: url('../img/iconsprite/refresh.svg') no-repeat center;
    margin: 0px 0px 0px 8px;
    cursor: pointer;
  }

  .btn-filter-brand {
    width: 180px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 11px 32px 12px 14px;
    color: #333333;
    position: relative;
    cursor: pointer;
    &:after {
        content:"";
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #333333 transparent transparent transparent;
        position: absolute;
        top: 17px;
        right: 15px;
      }
  }

  .filter-text {
    color: #333333;
    margin: 0px 8px;
    &.filter-text-refresh {
        font-weight: 600;
    }
  }
  .filter-col .filter-input {
    width: 86px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 0px 14px;
    font-size: 14px;
  }

  .filter-view-toggler {
    width: 68px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        &.active {
            pointer-events: none;
            svg.icon {
                fill: #4F4F4F; 
            }
        }
    }
  }

  .filter-view-type1 {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg.icon {
        width: 18px;
        height: 16px;
        fill: #ccc;
    }
    &:hover {
        svg.icon {
            fill: #008DD2; 
        }
    }
  }

  .filter-view-type2 {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg.icon {
        width: 16px;
        height: 16px;
        fill: #ccc;
    }
    &:hover {
        svg.icon {
            fill: #008DD2;
        }
    }
  }

  // catalog table

  .catalog-table {
      display: table;
      border-collapse: collapse;
      width: 100%;
  }
  .catalog-tr {
      display: table-row;
  }
  .catalog-th, .catalog-td  {
      display: table-cell;
      padding: 14px;
      border: 1px solid #E0E0E0;
      vertical-align: middle;
      a.catalog-filter-to {
        color: #333333;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::after {
            content: '';
            background: url('../img/iconsprite/filter-to.svg') no-repeat;
            width: 10px;
            height: 12px;
            margin-left: 10px;
        }
        &:hover {
            &::after {
                transform: rotate(180deg);
            }
        }
      }
  }
  .catalog-th {
    background: #F2F2F2;
    font-weight: 500;
    white-space: nowrap;
  }

  .quantity-block {
      display: flex;
      align-items: center;
      .quantity-arrow-minus {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 4px 0px 0px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 400;
        color: #999;
        cursor: pointer;
        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
      }
      .quantity-arrow-plus {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 0px 4px 4px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 400;
        color: #999;
        cursor: pointer;
        padding-bottom: 2px;
        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
      }
      input {
        color: #333333;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0px;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        text-align: center;
        font-size: 14px;
      }
  }

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.in-basket {
    width: 40px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #fff;
    svg {
        width: 24px;
        height: 24px;
        fill: #4F4F4F;
    }
    &.active {
        background-color: #E0E0E0;
    }
    &:not(.active):hover {
        border: 1px solid #008DD2;
        svg {
            fill: #008DD2;
        }
    }
}
.catalog-table-control {
    display: flex;
    align-items: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;   
}


// pagination

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 24px 0px 40px 0px;
   
    a {
        font-weight: 500;
        width: 40px;
        height: 40px;
        color: #333;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active, &:hover {
            background-color: #F2F2F2;
            border-radius: 4px;
        }
    }
    span {
        display: inline-block;
        margin: 0px 5px;
    }
    .pagination__arr-leftall {
        background: url('../img/iconsprite/pagination-leftall.svg') no-repeat center;
        &.disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    }
    .pagination__arr-left {
        background: url('../img/iconsprite/pagination-left.svg') no-repeat center;
        &.disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    }
    .pagination__arr-rightall {
        background: url('../img/iconsprite/pagination-rightall.svg') no-repeat center;
        &.disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    }
    .pagination__arr-right {
        background: url('../img/iconsprite/pagination-right.svg') no-repeat center;
        &.disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    }
}

// text-block

.text-block {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #E0E0E0;
    margin-bottom: 56px;
    h2 {
        font-weight: 600;
        font-size: 24px;
        color: #333333;
        margin: 0px;
    }
    p {
        margin: 24px 0px;
        font-size: 16px;
    }
}

// subscribe

.subscribe {
    background: linear-gradient(90deg, #045191 0%, #008DD2 100%);
    padding: 40px 0px;
}

.subscribe__content {
    display: flex;
    align-items: flex-start
}

.subscribe__title {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    background: url('../img/subscription.png') no-repeat left center;
    padding-left: 72px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.subscribe__body {
    width: calc(100% - 430px);
    form {
        display: flex;
        align-items: center;
        input {
            height: 56px;
            width: calc(100% - 156px);
            margin-right: 12px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
            padding: 14px;
            font-size: 16px;
        }
        button {
            height: 56px;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            background: none;
            width: 144px;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background: #045191;
                border: 1px solid #045191;
            }
        }
    }
}

.subscribe__polity {
    color: #FFFFFF;
    margin: 12px 0px 0px 0px;
    a {
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
        }
    }
}

// footer

.footer {
    padding: 40px 0px;
    background: #F2F2F2;
}

.footer-main-info {
    margin-bottom: 16px;
    font-weight: 500;
}

.footer-row {
    display: flex;
    align-items: flex-start;
}

.footer-col {
    margin-right: 10%;
    &:last-child {
        margin-right: 0px;
    }
    &.flex {
        display: flex;
    }
    p {
        margin: 4px 0px;
        color: #333333;
        span {
            color: #999999;
        }
    }
}

.footer-nav {
    margin-right: 8%;
    min-width: 200px;
    &:last-child {
        margin-right: 0px;
    }
    a {
        display: block;
        color: #333333;
        text-decoration: none;
        font-weight: 500;
        margin: 0px 0px 12px 0px;
        &:hover {
            text-decoration: underline;
        }
    }
}

// remodals

.remodal {
    padding: 24px;
    text-align: left;
}

.login-modal__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    margin-top: 8px;
}

.form-item {
    position: relative;
    margin-bottom: 16px;
    &.form-item-error {
        input {
            border: 1px solid #E31E24;
        }
        .form-label {
            color: #E31E24;
        }
        svg {
            stroke: #E31E24;
        }
    }
    input {
        height: 56px;
        width: 100%;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        padding: 0px 15px;
        font-size: 16px;
    }
    .form-label {
        position: absolute;
        font-size: 12px;
        letter-spacing: 0.2px;
        color: #4F4F4F;
        background: #fff;
        padding: 0px 4px;
        z-index: 2;
        top: -6px;
        left: 14px;
    }
}

.login-form__alert {
    color: #E31E24;
    padding-left: 38px;
    background: url('../img/iconsprite/red-alert.svg') no-repeat left center;
    height: 20px;
    margin-top: 18px;
}

.btn {
    background: linear-gradient(90deg, #045191 0%, #008DD2 100%);
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 14px;
    &:hover {
        background: #045191;
    }
}


.login-form__row {
    margin-top: 24px;
    .btn {
        margin-right: 8px;
    }
    .loging-auth {
        padding: 12px 16px;
        font-weight: 600;
        font-size: 14px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        text-align: center;
        letter-spacing: 0.2px;
        text-decoration: none;
        color: #333333;
        &:hover {
            color:#008DD2;
            border: 1px solid #008DD2;
        }
    }
   
}
.forgot-pass {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #333333;
    text-decoration: none;
    display: table;
    margin-top: 16px;
    &:hover {
        text-decoration: underline;
    }
}

.show-pass, .hide-pass {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    svg {
        stroke: #4F4F4F;
        width: 24px;
        height: 24px;
    }
}
.show-pass {
    display: none;
}

.remodal.remodal-reg {
    max-width: 744px;
}
.remodal-reg__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.remodal-reg__col {
    width: 48%;
    .form-item:last-child {
        margin-bottom: 0px;
    }
}

.remodal-policy {
    margin-top: 16px;
    a {
        color: #008DD2;
        text-decoration: none;
    }
}

// custom checkbox


.custom-checkbox {
    margin-bottom: 16px;
    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0px;
        height: 100%;
        padding: 0px;
    }
    label {
        position: relative;
        padding-left: 30px;
        color: #333333;
        height: 16px;
        display: table;
        cursor: pointer;
        user-select: none;
        span {
            display: inline-block;
            vertical-align: middle;
        }
        &::before {
            content: '';
            border: 2px solid #999999;
            border-radius: 4px;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 0px;
        }
        &.active {
            &::before {
                border: 2px solid #008DD2;
                background: url('../img/iconsprite/checkbox.svg') no-repeat center #008DD2;
                border-radius: 4px;
            }
        }
    }
}

.header__mobile-logo {
    display: none;
}


@media (max-width:960px) {
    .sidebar-catalog {
        display: none;
    }
    .catalog__content {
        width: 100%;
    }
    .subscribe__content {
        flex-wrap: wrap;
    }
    .main-nav {
        position: absolute;
        left: -100%;
    }
    .main-nav .main-nav__content {
        display: block;
        a {
            display: block;
        }
    }
}

@media (max-width:760px) {
    .header {
        padding: 8px 0px;
    }
    .catalog-th {
        display: none;
    }
    .catalog-tr {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-nav {
        display: none;
    }
    .logo {
        display: none;
    }
    .header__topbar__row:not(.header__mobile) {
        display: none;
    }
    .header__topbar__row span {
        display: none;
    }
    .header__right {
        width: 100%;
    }
    .header__mobile-logo {
        display: block;
        margin-right: 18px;
    }
    .header__topbar__row, .header__topbar .header__locate {
        display: flex;
        align-items: center;
    }
    .header__topbar .header__topbar__row a {
        font-size: 12px;
    }
    .header__basket {
        font-size: 0px;
    }
    .header__login {
        padding: 0px;
        min-width: 24px;
        font-size: 0px;
        position: relative;
        .header__enter {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:480px) {
    .header__main {
        display: flex;
        flex-wrap: wrap;
        .header__catalog-container {
            order: 1;
        }
        .header__search {
            order: 4;
            width: 100%;
             form {
                max-width: 100%;
                margin: 8px 0px 0px 0px;
            }
        }
        .header__basket-login {
            order: 2;
        }
    }
}